html, body {
    height: 100%;
    font-family: Arial, sans-serif;
}
.topnav {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    background-color: #003a59;
    box-shadow: 0px 2px 11px 0px rgba(0,0,0,.3);
    height: 59px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}
.topnav-logo {
    display: flex;
    align-items: center;
    background-color: #fff;
    font-size: 1.8em;
    height: 100%;
    font-weight: 700;
    font-style: italic;
    width: 218px;
    padding: 7px;
    color: #000;
    letter-spacing: 0px;
}
.topnav-logo img {
    margin: auto;
}
.topnav-botao {
    height: 100%;
    width: 70px;
    display: flex;
}
.topnav-botao img {
    margin: auto;
}
.notifications {
    height: 100%;
    width: 70px;
    padding: 0 15px;
    display: inline-block;
}
.notifications i {
    margin: auto;
    color: #fff;
    font-size: 1.2em;
}
.bubble {
    background-color: #9bd358;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    font-size: .7em;
    line-height: 19px;
    text-align: center;
    font-weight: 600;
    position: absolute;
    display: inline-block;
    margin-top: -11px;
    margin-left: -10px;
}
.user {
    display: inline-block;
    color: #fff;
}