html, body {
    height: 100%;
    font-family: Arial, sans-serif;
}
.topnav {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    background-color: #003a59;
    box-shadow: 0px 2px 11px 0px rgba(0,0,0,.3);
    height: 59px;
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    flex-flow: row wrap;
    align-items: center;
    min-width: 312px;
}
.topnav-logo {
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    align-items: center;
    background-color: #fff;
    font-size: 1.8em;
    height: 100%;
    font-weight: 700;
    font-style: italic;
    max-width: 100px;
    width: 100%;
    padding: 7px;
    color: #000;
    letter-spacing: 0px;
}
@media (min-width: 600px) {
    .topnav-logo {
        max-width: 218px;
    }
}
.topnav-logo img {
    margin: auto;
}
.topnav-botao {
    height: 100%;
    width: 70px;
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    cursor: pointer;
}
.topnav-botao img {
    margin: auto;
}
.topnav-twisted {
    transform: rotate(180deg);
}
.notifications {
    height: 100%;
    width: 25px;
    display: inline-block;
}
.notifications i {
    margin: auto;
    color: #fff;
    font-size: 1.25em;
}
.bubble {
    background-color: #9bd358;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    font-size: .7em;
    line-height: 20px;
    text-align: center;
    font-weight: 600;
    position: absolute;
    display: inline-block;
    margin-top: -11px;
    margin-left: -10px;
}
.user {
    display: inline-block;
    color: #fff;
    font-size: .9em
}
.user span {
    display: none;
}
@media (min-width: 600px) {
    .user span {
        display: inline-block;
    }
}
.user i {
    font-size: 1.45em;
    margin-right: 0;
}
@media (min-width: 600px) {
    .user i {
        margin-right: 13px;
    }
}
#user-options {
    display: inline-block;
    color: #fff;
    padding: .5rem 1.8rem;
}
.user-dropdown {
    border-radius: 0;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    padding: 0;
    font-size: 1em;
    min-width: 9rem;
    margin: 11px 2px 0 14px;
}
.user-dropdown a {
    color: #000;
}
.user-dropdown-option {
    padding: .55rem .7rem;
}
.menu {
    position: fixed;
    background-color: #4c5c66;
    box-shadow: 3px 2px 11px 0px rgba(0,0,0,.3);
    width: 278px;
    margin-top: -24px;
    z-index: 1000;
    margin-left: -285px;
    height: 100%;
    transition: all .4s;
}
.menu-show {
    margin-left: 0;
    transition: all .4s;
}
.menu a {
    color: #fff;
}
.menu a:hover {
    text-decoration: none;
}
.menu-list {
    padding-left: 0;
}
.menu-item {
    list-style: none;
    padding: 15px 10px;
    border-bottom: 1px solid #333333;
    font-size: 12px;
    font-weight: 600;
}
.menu-item:hover {
    background-color: rgba(0,0,0,.1);
}

.main-content {
    width: 90%;
    margin: 83px auto 0 auto;
}
h1 {
    font-size: 1em;
    font-weight: 600;
}
h2 {
    font-size: .9rem;
    text-transform: uppercase;
    font-weight: 700;
    color: #737373;
    margin: 11px 0 36px 0;
    padding-bottom: 20px;
    border-bottom: 1px solid #cccccc;
}
.secao {
    background-color: #eff3f6;
    padding: 19px 0;
    margin: 13px 0 29px 0;
}
@media (min-width: 400px) {
    .secao {
        padding: 19px 14px;
    }
}

h3 {
    color: #4c5c66;
    font-size: .9em;
    font-weight: 600;
    margin-top: 9px;
    border-left: 5px solid #99cc66;
    padding-left: 9px;
}
.text-over-h3 {
    color: #4c5c66;
    font-size: .65em;
    text-transform: uppercase;
}
.side-info {
    margin-top: 40px;
}
.description {
    color: #4c5c66;
    font-size: .75em;
    font-weight: 600;
    margin-top: 20px;
}
.input-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.input-box {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 49%;
    max-width: 49%;
    margin-bottom: 15px;
}
.input-box-100 {
    flex-basis: 100%;
    max-width: 100%;
    margin-bottom: 15px;
}
label {
    color: #999999;
    display: block;
    font-size: .6em;
    font-weight: 600;
    margin-bottom: 0;
}
select {
    appearance: none;
    -webkit-appearance: none; 
    -moz-appearance: none;
    background: #fff url(../imagens/select-botao.png) 93% no-repeat;
}
@media (min-width: 600px) {
    select {
        background-position: 98%;
    }
}
select, input[type="text"], input[type="date"], input[type="number"], textarea {
    width: 100%;
    font-size: 12px;
    padding: 5px 10px;
    border-radius: 3px;
    border: 1px solid #cccccc;
    box-shadow: inset 0px 1px 2px rgba(0,0,0,.14);
        -moz-box-shadow: inset 0px 1px 2px rgba(0,0,0,.14);
        -webkit-box-shadow: inset 0px 1px 2px rgba(0,0,0,.14);
}
select:focus, input[type="text"]:focus, input[type="date"]:focus, textarea:focus {
    border: 1px solid #aaaaaa;
    outline: none;
}
textarea {
    min-height: 77px;
    resize: none;
}
.fill-alert input, .fill-alert select, .fill-alert textarea {
    border: 1px solid red;
}
.fill-alert label.required-star::after {
    content: 'Campo obrigatório!';
    display: block;
    color: #f30d32;
    font-size: 10px;
    line-height: 12px;
    margin-left: 0px;
}
@media(min-width: 510px) {
    .fill-alert label.required-star::after {
        display: inline-block;
        margin-left: 7px;
    }
}
.required-star::after {
    content: '*';
    display: inline-block;
    color: #f30d32;
    font-size: 13px;
    line-height: 12px;
    margin-left: 3px;
}
/* suporte IE10 e IE11 */
select::-ms-expand { 
    display: none; /* hide the default arrow in ie10 and ie11 */
}

input[type="date"] {
    background:#fff url(../imagens/calendar.png) 97% no-repeat;
    color: #919191;
}
::-webkit-calendar-picker-indicator {
    color: rgba(0,0,0,0);
}
::-webkit-calendar-picker-indicator:hover {
    background-color: rgba(0,0,0,0);
}
#data-movimentacao {
    background-color: #f5f5f5;
}
.check-box {
    width: 20px;
    height: 20px;
    border-left: 2px solid #7d7d7d;
    border-top: 2px solid #7d7d7d;
    border-right: 2px solid #f6f6f6;
    border-bottom: 2px solid #f6f6f6;
    background-color: #fff;
    position: relative;
    outline: none;
}
.check-box:checked {
    background-image: url("../imagens/checked.png");
    background-position-x: -2px;
    background-position-y: -2px;
}
input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none; 
    -moz-appearance: none;
}
#desc-justificativa {
    margin-top: 77px;
}
input[type="button"], button  {
    font-size: 10px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 9px 20px;
    border-radius: 3px;
}
@media (min-width: 600px) {
    input[type="button"], button  {
        font-size: 12px;
    }
}
#button-adicionar {
    margin-top: 27px;
    margin-left: 10px;
    border: 0;
    background-color: #6f985c;
    color: #fff;
}
@media (min-width: 568px) {
    #button-adicionar {
        margin-top: 11px;
    }
}
#add {
    margin-right: 13px;
}
.button-form {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 48%;
    padding: 8px 5px;
    background-color: #fff;
    border: 1px solid #003a59;
    color: #003a59;
}
@media (min-width: 568px) {
    .button-form {
        padding: 8px 14px;
        flex-basis: auto;
    }
}
.form-buttons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 70px;
}
footer {
    width: 100%;
    background-color: #a6a6a6;
    height: 40px;
}

.table-relacionadas {
    width: 100%;
    border: 1px solid #dadbde;
    font-size: 0.75em;
    text-transform: uppercase;
    background-color: #fff;
    box-shadow: 0px 0px 6px -2px rgba(0,0,0,.2);
    margin-bottom: 15px;
}
.table-relacionadas thead {
    border-bottom: 1px solid #ccc;
}
.table-relacionadas th {
    color: #999999;
    text-align: left;
    padding: 10px 16px;
}
#th-numero {
    width: 86px;
}
.table-relacionadas td {
    text-transform: none;
    font-size: 1.2em;
    padding: 4px 16px;
    background-color: #fafafa;
}